.vscode
build
tags
.editorconfig
/src/uWebSockets-0.13.0
/_build_vs
/_build_make
/src/openssl
/src/uWS
CMakeLists.txt.user
PID Project Linux desktop Universal.x86
PID Project Linux desktop Universal.x86_64
PID Project Linux desktop Universal_Data/
